# RPC agent service address
RPC_SERVER=0.0.0.0:5500

# Application log level
RUST_LOG=info

# Set to true to export traces to the OTLP collector
TELEMETRY_OPT_IN=false
OTLP_COLLECTOR_ENDPOINT=http://0.0.0.0:4317
